.about-page {
  padding: 64px 0 48px 0px;

  @include xs {
    padding: 48px 0;
  }

  &__header {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 64px;
      @include xs {
        margin-bottom: 48px;
      }
    }
  }
  &__title {
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__subtitle {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 22px;
    line-height: 1.4;
    text-align: center;
    color: var(--black-txt);

    @include xs {
      font-size: 18px;
    }
  }

  &__content {
    display: flex;
    background: var(--blue-white);
    gap: 24px;
    align-items: center;
    border-radius: 16px;
    padding: 48px;
    @include md {
      flex-direction: column;
    }

    @include xs {
      padding: 24px;
      gap: 24px;
    }
  }

  &__info {
    flex: 0 1 50%;
    @include md {
      flex: 1 1 100%;
    }
    p {
      color: var(--black-txt);
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
  }

  &__image {
    flex: 0 1 50%;
    @include md {
      flex: 1 1 100%;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      object-fit: cover;
      display: block;
    }
  }
}
