.cta {
  padding-bottom: 100px;
  @include xs {
    padding-bottom: 80px;
  }

  &__body {
    display: flex;
    gap: 48px;
    align-items: flex-start;

    @include lg {
      flex-direction: column;
    }
  }

  &__content {
    flex: 0 1 55%;
  }

  &__form {
    flex: 1;
  }

  &__title {
    text-align: start;
    &:not(:last-child) {
      margin-bottom: 24px;
    }
  }

  &__text {
    color: var(--black-txt);
    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0px;
    }

    &--bold {
      font-weight: 700;
      color: var(--black);
      @include lg {
        margin-bottom: 0;
      }
    }
  }

  &__image {
    margin-top: 32px;
    @include lg {
      display: none;
    }

    img {
      max-width: 220px;
      width: 100%;
      display: block;
    }
  }
}
